<body ng-app="ngAppDemo">
    <div ng-controller="ngAppDemoController">

        <br />
        <form name="validacion" method="post" enctype="multipart/form-data" ng-click="update(user)" novalidate class="simple-form" id="validacion" >
            <div class="form-group">
                <label class="control-label">Enter name: </label>
                <input class="form-control" type="text" name="name" ng-model="user.name" required>
                <span ng-show="!name && validacion.name.$invalid && validacion.$submitted" class="alert-danger">Es Requerido el Nombre</span>
            </div>
            <div class="form-group">
                <label class="control-label">Enter edad: </label>
                <input class="form-control " type="number" name="edad" ng-model="user.edad" required>
                <span ng-show="validacion.edad.$touched && validacion.edad.$invalid"><font color="red">Es Requerido la Edad</font></span>
            </div>
            <div class="form-group">
                <label class="control-label">Enter birthday: </label>
                <input class="form-control" type="date" name="birthday" ng-model="user.birthday" required>
                <span ng-show="validacion.birthday.$touched && validacion.birthday.$invalid"><font color="red">Es Requerido la fecha de Cumpleaños</font></span>
            </div>
            <div class="form-group">
                <label class="control-label">Enter Email: </label>
                <input class="form-control" type="email" name="Email" ng-model="user.Email" required>
                <span ng-show="validacion.Email.$touched && validacion.Email.$invalid"><font color="red">Es Requerido el Email</font></span>
            </div>
            @*<div class="form-group">
                <label class="control-label">Foto: </label>
                <input class="form-control" type="file" name="Foto" ng-model="user.Foto" multiple>
            </div>*@
            <p>
                <input type="submit" class="btn btn-success" ng-disabled="validacion.$invalid">
            </p>
        </form>
    <div class="">Resultado: </div>
        <pre>user = {{user | json}}</pre>
        <pre>master = {{master | json}}</pre>
    </div>
</body>
