<body ng-app="ngAppModel">
    <div ng-controller="ngAppModalController">
        <h3>{{msg}}</h3>
        <script type="text/ng-template" id="Modals">
            <div class="modal-header">
                <h2 class="modal-title">Sample form in Angular Modal</h2>
            </div>
            <div class="modal-body">
                <div>
                    <!--We can implement forms and anything we want here-->
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="text-info">Email: </label>
                            <input type="email" ng-model="email" class="form-control" placeholder="Email" />
                        </div>
                        <div class="form-group">
                            <label class="text-info">Name:</label>
                            <input type="text" ng-model="name" class="form-control" placeholder="Name" />
                        </div>
                        <div class="form-group">
                            <label class="text-info">Password</label>
                            <input type="password" ng-model="password" class="form-control" placeholder="Password" />
                        </div>
                        <input type="button" class="btn btn-success" ng-click="ok()" value="Submit" />
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" ng-click="cancel()">cancel</button>
            </div>
        </script>
        <button class="btn btn-default" type="button" ng-click="openModal()">Click to Open Modal</button>
    </div>
</body>
